.login_heading {
    color: #F3673D;
}

.login_wave img {
    display: list-item;
    height: 190px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login_container {
    display: list-item;
}

.login_label {
    color: "#F3673D" !important;
}

.login_buttonContainer {
    margin-top: 5px;
}

.login_form {
    align-items: center;
    display: inline;
}

.login_button {
    padding-left: 35%;
    padding-right: 35%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: #F3673D;
    border-radius: 30px;
    border-width: 0;
    text-align: center;
    color: aliceblue;
}

.login_buttonContainer h3 {
    color: darkgray;
    align-items: center;
}

.signup_button {
    padding-left: 35%;
    padding-right: 35%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: #2F2B28;
    border-radius: 30px;
    border-width: 0;
    text-align: center;
    color: aliceblue;
}

button:focus {
    outline: none;
}

.login_or {
    text-align: center;
}

.login_goback {
    text-align: center;
    color: #F3673D;
}

.signup_avatar {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.signup_avatarcontainer {
    border-width: 2px;
    border-style: solid;
    border-radius: 20%;
    border-color: #F3673D;
    margin-bottom: 10px;
}
